 @font-face {
    font-family: "Montserrat-Bold"; /* ָל רנטפעא */
    src: url(../fonts/montserrat/Montserrat-Bold.eot); /* ֿףע ך פאיכף סמ רנטפעמל */
	src: url(../fonts/montserrat/Montserrat-Bold.ttf);
	src: url(../fonts/montserrat/Montserrat-Bold.svg);
	src: url(../fonts/montserrat/Montserrat-Bold.woff);
   }

 @font-face {
    font-family: "Montserrat-Regular"; /* ָל רנטפעא */
    src: url(../fonts/montserrat/Montserrat-Regular.eot); /* ֿףע ך פאיכף סמ רנטפעמל */
	src: url(../fonts/montserrat/Montserrat-Regular.otf);
	src: url(../fonts/montserrat/Montserrat-Regular.svg);
	src: url(../fonts/montserrat/Montserrat-Regular.woff);
	src: url(../fonts/montserrat/Montserrat-Regular.ttf);
   }
 @font-face {
    font-family: "RobotoSlab"; /* ָל רנטפעא */
    src: url(../fonts/RobotoSlab/RobotoSlab-Regular.eot); /* ֿףע ך פאיכף סמ רנטפעמל */
	src: url(../fonts/RobotoSlab/RobotoSlab-Regular.otf);
	src: url(../fonts/RobotoSlab/RobotoSlab-Regular.svg);
	src: url(../fonts/RobotoSlab/RobotoSlab-Regular.woff);
	src: url(../fonts/RobotoSlab/RobotoSlab-Regular.ttf);
   }
